.container{
    display: flex;
    text-align: center;
    font-size: 2em;
    padding: 10px;
}

html, body{
    background-color: #ffeead;
    margin: 10px;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

.container > div {
    flex: 1;
    display: inline-block;
    border: 5px solid #ffcc5c;
    margin-left: 20px;
    margin-right: 20px;
}

.cookiepic{

    display: block;
    margin-left: auto;
    margin-right: auto;

}